<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WS3 - Websocket Demo</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto+Mono|Roboto:300&display=swap&subset=latin-ext" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
    <script>
        var dX = 0;
        var dY = 0;
        var lastDX = NaN;
        var lastDY = NaN;

        function connect(username) {
            var socket = new SockJS('/ws');
            stompClient = Stomp.over(socket);
            stompClient.connect({username: username}, function (frame) {
                setStatus("");
                document.getElementById("login-box").innerHTML = "";

                stompClient.subscribe('/topic/chat', function (data) {
                    let newMessage = JSON.parse(data.body);
                    if (newMessage.type === "CHAT_MESSAGE") {
                        document.getElementById("message-box").innerHTML += `
                            <span class="name">${newMessage.sender}</span>
                            <span class="tag">[${newMessage.tag}]</span>
                            <span class="message">${newMessage.message}</span><br>`;
                    } else if (newMessage.type === "SYSTEM_MESSAGE") {
                        document.getElementById("message-box").innerHTML += `
                            <span class="system-message">${newMessage.message}</span><br>`;
                    } else {
                        console.error("Invalid message");
                        console.error(newMessage);
                    }
                    let element = document.getElementById("message-box");
                    element.scrollTop = element.scrollHeight;

                });

                /* [PART2]
                stompClient.subscribe('/user/topic/positions', function (data) {
                    let positions = JSON.parse(data.body);

                    let canvas = document.getElementById("players");
                    let ctx = canvas.getContext("2d");
                    ctx.clearRect(0, 0, canvas.width, canvas.height);
                    ctx.fillStyle = "#F15A2A";
                    for (let i = 0; i < positions.positions.length; i++) {
                        ctx.fillRect(positions.positions[i].x * 10 + 2, positions.positions[i].y * 10 + 2, 6, 6);
                        ctx.fillText(positions.positions[i].name, positions.positions[i].x * 10 + 10, positions.positions[i].y * 10 + 8);
                    }
                });
                */

                /* [PART2]
                stompClient.subscribe('/user/topic/map', function (data) {
                    let mapEntity = JSON.parse(data.body);

                    let canvas = document.getElementById("foreground");
                    let ctx = canvas.getContext("2d");
                    ctx.clearRect(0, 0, canvas.width, canvas.height);
                    ctx.fillStyle = "#FFFFFF";
                    for (let y = 0; y < mapEntity.foreground.length; y++) {
                        for (let x = 0; x < mapEntity.foreground[y].length; x++) {
                            if (mapEntity.foreground[y].charAt(x) === '#') {
                                ctx.fillRect(x * 10, y * 10, 10, 10);
                            } else if (mapEntity.foreground[y].charAt(x) === '|') {
                                ctx.fillRect(x * 10 + 4, y * 10, 2, 10);
                            } else if (mapEntity.foreground[y].charAt(x) === '-') {
                                ctx.fillRect(x * 10, y * 10 + 4, 10, 2);
                            }
                        }
                    }
                });
                */

                /* [PART2]
                setInterval(function() {
                    if (dX !== lastDX || dY !== lastDY) {
                        sendPositionUpdate();
                        lastDX = dX;
                        lastDY = dY;
                    }
                }, 50);
                */

                /* [PART2]
                window.onkeydown = function (e) {
                    let code = e.keyCode ? e.keyCode : e.which;
                    if (code === 38) { //UP
                        dY = -1;
                    } else if (code === 40) { //DOWN
                        dY = 1;
                    } else if (code === 37) { // LEFT
                        dX = -1;
                    } else if (code === 39) { // RIGHT
                        dX = 1;
                    }
                };

                window.onkeyup = function(e) {
                    let code = e.keyCode ? e.keyCode : e.which;
                    if (code === 38) { //UP
                        if (dY === -1)
                            dY = 0;
                    } else if (code === 40) { //DOWN
                        if (dY === 1)
                            dY = 0;
                    } else if (code === 37) { // LEFT
                        if (dX === -1)
                            dX = 0;
                    } else if (code === 39) { // RIGHT
                        if (dX === 1)
                            dX = 0;
                    }
                };
                */

                // [PART2] reloadMap();
            });


        }

        function setStatus(status) {
            document.getElementById("status").innerText = status;
        }

        function sendMessage(message) {
            stompClient.send("/app/message", {}, JSON.stringify({
                'message': message
            }));
        }

        function sendPositionUpdate() {
            stompClient.send("/app/move", {}, JSON.stringify({
                'dX': dX,
                'dY': dY
            }));
        }

        function sendTypedMessage(event) {
            if (event.keyCode === 13) {
                let input = document.getElementById("new-chat");
                sendMessage(input.value);
                input.value = ""
            }
        }

        function join() {
            connect(document.getElementById("username").value)
        }

        function reloadMap() {
            stompClient.send("/app/reload-map", {}, JSON.stringify({ }));
        }

    </script>
</head>
<body>

    <div class="login" id="login-box">
        <form onsubmit="join(); return false">
            Your username:<br />
            <input type="text" id="username" maxlength="16" autocomplete="off"><br />
            <input type="submit" value="JOIN" />
        </form>
    </div>
    <div class="game">
        <canvas id="bg" height="690" width="690"></canvas>
        <canvas id="foreground" height="690" width="690"></canvas>
        <canvas id="players" height="690" width="690"></canvas>
    </div>
    <div class="status" id="status">NOT CONNECTED</div>
    <div class="chat-wrapper">
        <div class="chat">
            <div class="chat-lines" id="message-box"></div>
            <input type="text" id="new-chat" onkeyup="sendTypedMessage(event)" />
        </div>
    </div>

</body>
</html>