<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<style>
    pre {
        line-height: 0.75;
        font-family: monospace;
    }
</style>
</head>
<body>
<pre>
.....................................................................
.....................................................................
.....................................................................
..#################################################################..
..#.......#.......#.......#.......#.......#.......#.......#.......#..
..#.......#.......#.......#.......#.......#.......#.......#.......#..
..#.......#.......#.......#.......#.......#.......#.......#.......#..
..#.......#.......#.......#.......#.......#.......#.......#.......#..
..#.......#.......#.......#.......#.......#.......#.......#.......#..
..#.......#.......#.......#.......#.......#.......#.......#.......#..
..#.......#.......#.......#.......#.......#.......#.......#.......#..
..#.......#.......#.......#.......#.......#.......#.......#.......#..
..#.......#.......#.......#.......#.......#.......#.......#.......#..
..##..#########..###..#########..###..#########..###..#########..##..
..#...#...#...#...#...#...#...#...#...#...#...#...#...#...#...#...#..
..#...#...#...#...#...#...#...#...#...#...#...#...#...#...#...#...#..
..#...|...#...|...#...|...#...|...#...|...#...|...#...|...#...|...#..
..#...#...#...#...#...#...#...#...#...#...#...#...#...#...#...#...#..
...#..#########-#####-#########-#####-#########-#####-#########..#...
..#....|..........................|..........................|....#..
..#....#..........................|..........................#....#..
..##################...#######################...##################..
.......#....#....|.....#######################.....|....#....#.......
.......#..#####..###...###........#........###...###..#####..#.......
.......#.........#..#..###........#........###..#..#.........#.......
.....################..###........#........###..################.....
.....#.........#....#..######--#######--######..#....#.........#.....
.....#.........#....#..#.....................#..#....#.........#.....
.....#..............|..|.....................|..|..............#.....
.....#.........###-##..|.....................|..##-###.........#.....
.....#.........#....#..|.....................|..#....#.........#.....
.....#.........#....#..#.....................#..#....#.........#.....
.....#.........#....#..######--#######--######..#....#.........#.....
.....################..####......###......####..################.....
.....#.........#....#..####......###......####..#....#.........#.....
.....#.........#....#..####......###......####..#....#.........#.....
.....#.........#....#..#######################..#....#.........#.....
.....#.........###-##..#..........#..........#..##-###.........#.....
.....#..............|..#..........#..........#..|..............#.....
.....#.........#....#..#######################..#....#.........#.....
.....#.........#....#..#......#...#...#......#..#....#.........#.....
.....################..|......|...#...|......|..################.....
.....#.........#....#..#......#...#...#......#..#....#.........#.....
.....#.........#....#..#######################..#....#.........#.....
.....#..............|..#..........#..........#..|..............#.....
.....#.........###-##..#..........#..........#..##-###.........#.....
.....#.........#....#..###--#############--###..#....#.........#.....
.....#.........#....#.............|.............#....#.........#.....
.....#.........#....#..#..........#..........#..#....#.........#.....
.....################..#######################..################.....
.....#.........#....#..#..........#..........#..#....#.........#.....
.....#.........#....#..#..........#..........#..#....#.........#.....
.....#.........#....#..#..........#..........#..#....#.........#.....
.....#.........###-##..#..........#..........#..##-###.........#.....
.....#..............|..#..........#..........#..|..............#.....
.....#.........#....#..#..........#..........#..#....#.........#.....
.....#.........#....#..#..........#..........#..#....#.........#.....
.....################..#..........#..........#..################.....
...............#.......|..........#..........|.......#...............
...............######-##..........#..........##-######...............
...............#.......#..........#..........#.......#...............
...............#.......#######################.......#...............
...............#.......#.....................#.......#...............
...............#.......#.....................#.......#...............
...............#########.....................#########...............
.....................................................................
.....................................................................
.....................................................................
.....................................................................
</pre>
</body>
</html>